<md-card style="min-width: 1200px; min-height: 600px;">
    <md-card-header>
        <md-card-header-title>
            <md-card-header-text>
                <span class="md-headline">Flights</span>
            </md-card-header-text>
        </md-card-header-title>
    </md-card-header>
    <md-card-content>
        <md-grid-list md-cols="3"
                      md-cols-gt-lg="5"
                      md-cols-sm="2"
                      md-cols-xs="1"
                      md-row-height="3:2"
                      md-row-height-md="5:4"
                      md-row-height-gt-md="7:4"
                      md-gutter="5px">
            <md-grid-tile ng-repeat="item in flights | filter : parent.filtro">
                <md-card class="warning">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{item.voo}}</span>
                            <span class="md-subhead">{{Landing.labelCountdown}}: <b>{{ Landing.getCountdown(item.hora) }}</b></span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <md-progress-circular md-mode="{{Landing.getMode(item)}}"
                                                  value="getTotalTime(item)"></md-progress-circular>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        <b>Data:</b> {{item.data | date:'dd/MM/yyyy'}}
                        <b>Hora:</b> {{item.hora | date:'H:mm'}}
                        <b>Meta:</b> {{item.meta}}
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="Landing.setCalco()">
                            <md-icon>flight_land</md-icon>
                            Calço
                        </md-button>
                        <md-button class="md-raised" ng-disabled="true">Concluir</md-button>
                        <md-button class="md-icon-button" ng-click="Landing.delete(item._id)">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
    </md-card-content>
</md-card>
