<md-card layout="column" layout-align="center center">
    <md-card-content>
        <h2>Voo</h2>
        <form layout="column" name="landingForm">
            <div layout="column" layout-sm="row" layout-md="row">
                <md-input-container>
                    <label>Item</label>
                    <input type="number" readonly disabled ng-model="item.number"/>
                </md-input-container>
                <md-input-container>
                    <label>Codigo</label>
                    <input name="codigo" required ng-model="item.codigo">
                    <div ng-messages="landingForm.codigo.$error" ng-show="landingForm.codigo.$dirty">
                        <div ng-message="required">Este campo é obrigatorio!</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-sm="row" layout-md="row">
                <md-input-container>
                    <label>Voo</label>
                    <input type="text" name="voo" ng-model="item.voo" required/>
                    <div ng-messages="landingForm.voo.$error" ng-show="landingForm.voo.$dirty">
                        <div ng-message="required">Este campo é obrigatorio!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Origem</label>
                    <input type="text" name="origem" ng-model="item.origem" required md-maxlength="3" minlength="3"/>
                    <div ng-messages="landingForm.origem.$error" ng-show="landingForm.origem.$dirty">
                        <div ng-message="required">Este campo é obrigatorio!</div>
                        <div ng-message="md-maxlength">O tamanho maximo permitido são 3 caracteres!</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <mdp-date-picker name="data" required ng-model="item.data" mdp-placeholder="Data"></mdp-date-picker>
                <md-input-container>
                    <label>Week</label>
                    <input name="week" readonly disabled ng-model="item.week"/>
                </md-input-container>
                <mdp-time-picker required ng-model="item.hora" mdp-placeholder="Hora"
                                 required></mdp-time-picker>
                <div ng-messages="landingForm.time.$error">
                    <div ng-message="required">Compo obrigatorio!</div>
                </div>
            </div>
            <div layout="row">
                <md-slider-container>
                    <label>Horas</label>
                    <md-slider min="0" max="10" md-discrete ng-model="item.hourBuffer"></md-slider>
                </md-slider-container>
                <md-slider-container>
                    <label>Minutos</label>
                    <md-slider min="0" max="60" md-discrete ng-model="item.minuteBuffer"></md-slider>
                </md-slider-container>
                <md-input-container>
                    <label>Meta (Previsão)</label>
                    <input name="meta" ng-model="item.meta" readonly>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button ng-click="save(landingForm)" class="md-raised md-primary">
                    <md-icon>save</md-icon>
                    Salvar
                </md-button>
                <md-button class="md-raised">
                    <md-icon>undo</md-icon>
                    Cancelar
                </md-button>
            </div>
        </form>
    </md-card-content>
</md-card>
