<!-- Right place to insert a navbar -->
<md-toolbar ng-if="!main.toolBarGoBack">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
            <md-icon>flight_land</md-icon>
        </md-button>
        <h3>
            <span>Landing</span>
        </h3>
        <span flex="10"></span>
        <md-input-container class="md-hue-3" flex>
            <input type="text" name="filter" placeholder="Filtrar" md-auto-focus ng-model="filtro"/>
        </md-input-container>
        <md-button>
            <md-icon>search</md-icon>
        </md-button>
        <md-button ng-click="main.add()" class="md-fab md-mini add-flight-land">
            <md-icon>add</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-toolbar md-theme="md-hue-2" ng-if="main.toolBarGoBack">
    <div class="md-toolbar-tools">
        <md-button class="md-hue-1" ng-click="main.goBack()">
            <md-icon>keyboard_backspace</md-icon>
            Voltar
        </md-button>
    </div>
</md-toolbar>
<div ui-view layout="column" layout-align="center center" ng-cloak></div>
